[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyserde = "*"
dominate = "*"

[dev-packages]
mypy = "*"
flake8 = "*"
bandit = "*"

[requires]
python_version = "3.10"
